@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

:root {
    --dark-gray: #333333;
    --ivoryWhite: #FFFFF0;
    --gold: #D4AF37;
    --bourdeux: #800020;
    --light-gray: #6a6a6a;
}

html { font-size: 62.5% }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Truculenta";
}
body {
    height: 100vh;
    background-color: var(--light-gray);
}

header {
    background-color: var(--dark-gray);
    position: sticky;
    top: 0;
}


#navigationBar {
    margin: 0rem 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 10rem;
}

.imgCartel {
    height: 40rem;
    width: 30rem;
}

.imgBg {
    display: flex;
    height: 60rem;
    width: 33rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: var(--bourdeux);
    border-radius: 0.5rem;
    margin: 1.5rem;
}
.imgEstreno {
    height: 55rem;
    width: 43rem;
}

.imgBg_new {
    display: flex;
    height: 65rem;
    width: 48rem;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: var(--bourdeux);
    border-radius: 0.5rem;
    margin: 1.5rem;
}

#icons-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.headingSection {
    background-color: var(--dark-gray);
    text-align: center;
    border-radius: 5rem;
    width: 15rem;
    color: var(--gold);
    margin: 2rem 3rem;
}

#cartelera {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

#estrenos {
    width: auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 4.5rem;
    color: var(--gold);
}

.movieHeading{
    color: var(--ivoryWhite);
    margin: 0.5rem 0rem;
    align-self: flex-start;
}

article > h2 {
    font-size: 3rem;
    color: var(--gold);
    background-color: var(--dark-gray);
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 2.5rem;
}

.buybutton {
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: var(--gold);
    font-size: 2rem;
    font-weight:900;
}

div p {
    font-size: 1.6rem;
    font-weight: 600;
    align-self: flex-start;
}

.movieDescription{
    height: 17rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    color: var(--gold);
    font-size: 2.5rem;
}

i {
    color: var(--ivoryWhite);
    font-size: 2.5rem;
}
footer{
    background-color: var(--dark-gray);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: var(--ivoryWhite);
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    margin: 1rem 0;
}

form input {
    width: 15rem;
    color: var(--ivoryWhite);
    background-color: #333333;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

textarea {
    color: var(--ivoryWhite);
    background-color: #333333;
}

fieldset {
    font-size: 2rem;
    width: 30rem;
    margin:1.5rem auto;
    border-color: var(--gold);
    color: var(--ivoryWhite);

}
